<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6733101528-d2j652puj6sc0hrpojcc54n5s7uaj85v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6733101528-d2j652puj6sc0hrpojcc54n5s7uaj85v</string>
	<key>API_KEY</key>
	<string>AIzaSyAbKB74-Aky66SF7uNm8p19iCsA6LTtPGk</string>
	<key>GCM_SENDER_ID</key>
	<string>6733101528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ici.ARChemy</string>
	<key>PROJECT_ID</key>
	<string>archemy-database</string>
	<key>STORAGE_BUCKET</key>
	<string>archemy-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6733101528:ios:3aad76528b3b8129ff9aad</string>
</dict>
</plist>